.ame {
    font-size: 22px;
    color: #263244;
    margin: 40px;
    text-transform: uppercase;
}

.block-stat {
    text-align: center;
    padding: 60px;
    width: 100%;
    height: 500px;
    background: url(../img/fon3.png) 100% 0/auto 90% no-repeat;
    background-size: cover;
}
.stat-sp {
}
.stat-sp li{
    display: inline-block;
    width: 250px;
    margin: 30px 20px;
}
.sred {
    font-size: 26px;
    font-weight: 900;
    margin: 10px;
    color: #323e4f;
}
.sred-d {
    margin: 11px;
    color: #323e4f;
    
}
.stat-img {
    width: 50px;
    height: auto;
    margin: 10px;
}