body {
    font-family: Arial, sans-serif;
}
.ame {
    font-size: 22px;
    color: #263244;
    margin: 40px;
    text-transform: uppercase;
}



.block-header {
    background-color: #344051;
    height: 61px;
    width: auto;
    color: #ffffff;
}
.ab {
    font-size: 22px;
    padding: 0 350px;
    line-height: 60px;
    float: left;
}
.menu {
    padding-left: 40px;
    float: left;
}
.menu li {
    text-transform: uppercase;
    font-size: 18px;
    padding: 0 12px;
    float: left;
    line-height: 60px;
}



.block-s {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 90% no-repeat, url(../img/fon1.png) center/cover no-repeat;
}
.shap {
    text-align: center;
    margin: 250px 0 0 280px;
    float: left;
}
.hey {
    font-size: 51px;
    font-weight: bold;
    padding: 15px;
    color: #2c384a;
}
.podtext {
    padding: 22px;
    font-size: 15px;
    color: #79818d;
}
.bt1 {
    border: 2px solid #6d7682;
    border-radius: 5px;
    margin: 15px;
    font-size: 15px;
    color: #6d7682;
    padding: 15px;
    background: none;
}



.block-me {
    margin: 110px;
    text-align: center;
}
.phBm {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    filter: grayscale(100%);
}
.pBm {
    font-size: 12px;
    color: #3f495a;
    margin: 20px 30%;
    text-align: justify;
}
.buBm {
    border: 2px solid #6f707e;
    border-radius: 5px;
    background: none;
    padding: 5px;
    color: #6f707e;
}



.block-can {
    text-align: center;
    padding: 60px;
    width: 100%;
    height: 500px;
    background: url(../img/fon2.png) 100% 0/auto 90% no-repeat;
    background-size: cover;
}
.can {
}
.can li{
    display: inline-block;
    width: 250px;
    margin: 30px 20px;
}
.usl {
    font-size: 14px;
    font-weight: 900;
    margin: 10px;
    color: #d17e10;
    
}
.usl-p {
    margin: 20px;
    color: #3f495a;
    
}
.usl-img {
    width: 50px;
    height: auto;
    margin: 10px;
}



.block-case {
    width: 1100px;
    margin: 70px 250px;
}
.zagl-case {
    text-align: center;
    margin: 20px;
}
case-p {
    font-size: 11px;
    color: #3f495a;
    margin: 15px;
}
.w-cPh {
    margin: 15px 100px 15px 0;
    float: left;
}
.c-w0 {
    float: left;
    margin: 10px 100px 10px 0;
}
.c-w {
    margin: 10px 70px 0px 0;
    float: left;
}
.client {
    font-size: 16px;
    text-transform: uppercase;
    color: #384354;
    margin: 8px 0 11px 0;
    text-transform: uppercase;
}
.client-p {
    font-size: 12px;
    color: #646b77;
}
.web {
    font-size: 16px;
    text-transform: uppercase;
    color: #384354;
    margin: 8px 0;
    text-transform: uppercase;
}
.web-a {
    font-size: 12px;
    color: #646b77;
}
.project {
    font-size: 16px;
    text-transform: uppercase;
    color: #384354;
    margin: 18px 0 11px 0;
}
.project-p {
    font-size: 15px;
    color: #646b77;
    margin: 0 0 20px 0;
}
.liveSite {
    clear: left;
    border-radius: 3px;
    background: #63b5ae;
    color: #fff;
    font-size: 14px;
    margin: 15px 0 0 0;
    padding: 15px 42px;
    text-transform: uppercase;
}


.block-col {
    text-align: center;
    margin: 850px 440px 150px 440px;
    width: 100%;
    max-width: 720px;
}
.zag-col {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 0 30px 0;
    color: #1c2534;
}
.con-col {
    text-align: left;
}
.tda {
    font-size: 19;
    color: #1c2534;
    margin: 30px 0 10px 0;
    font-weight: bold;
    text-transform: uppercase;
}
.bira {
    background-color: #eeeeee;
    width: 100%;
    padding: 0 10px;
    height: 57px;
    line-height: 57px;
}
.srok {
    margin: 20px 0 0 0;
    padding: 10px 0;
    color: #1c2534;
    font-weight: bold;
    border-top: 2px solid #d1d1d1;
}
.cost {
    padding: 10px 0;
    color: #1c2534;
    font-weight: bold;
}
.chet {
    float: right;
    color: #1c2534;
    font-weight: bold;
}



.block-stat {
    text-align: center;
    padding: 60px;
    width: 100%;
    height: 500px;
    background: url(../img/fon3.png) 100% 0/auto 90% no-repeat;
    background-size: cover;
}
.stat-sp {
}
.stat-sp li{
    display: inline-block;
    width: 250px;
    margin: 30px 20px;
}
.sred {
    font-size: 26px;
    font-weight: 900;
    margin: 10px;
    color: #323e4f;
}
.sred-d {
    margin: 11px;
    color: #323e4f;
    
}
.stat-img {
    width: 50px;
    height: auto;
    margin: 10px;
}



.block-ot {
    margin: 110px;
    text-align: center;
}
.otziv-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}
.otziv-p {
    font-size: 12px;
    color: #3f495a;
    margin: 20px 450px;
}



.block-contacts {
    width: 100%;
    margin: 30px 0;
    text-align: center;
    color: #fff;
    background: url(../img/fon4.png) 50% 100%/100% auto no-repeat;
    background-size: cover;
}
.ame-0 {
    font-size: 22px;
    padding: 50px;
    text-transform: uppercase;
}
.contacts-p {
    font-size: 12px;
    padding: 20px 450px;
}
.svyaz li{
    display: inline-block;
    width: 160px;
    margin: 30px 20px;
}
.sv-li {
    margin: 11px;
}
.sv-me {
    font-size: 14;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}
.funct {
    margin: 20px 450px;
}
.text1 {
    width: 280px;
    margin: 20px 10px;
    padding: 5px;
}
.bt-send {
    background: none;
    border: 2px solid #fff;
    border-radius: 3px;
    margin: 10px 0 120px 0;
    padding: 10px;
    color: #fff;
    font-size: 15px;
}



.block-map {
    height: 350px;
    width: 100%;
    text-align: center;
    line-height: 350px;
    color: #323e4f;
    font-size: 20px;
}



.block-footer {
    height: 90px;
    background-color: #354051;
    text-align: center;
}
.down {
    color: #fff;
    font-size: 15px;
    line-height: 90px;
}